.language-selector {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    border-radius: 8px;

    select {
        padding: 10px 8px;
        border-radius: 6px;
    }
}